AddType text/provenance-notation .provn
AddType application/provenance+xml .provx
AddType text/turtle .ttl
AddType application/rdf+xml .rdf
AddType application/trig .trig
AddType image/svg+xml .svg

AddHandler type-map var


SetEnvIf Request_URI "(.*)" requested_uri=$1

Header append Link  "<http://www.provbook.org/provenance>; rel=\"http://www.w3.org/ns/prov#has_provenance\"; anchor=\"http://www.provbook.org%{requested_uri}e\""
